NAME=AoCBot
TYPE=bot
MAIN=bot.py
RAM=100
AUTORESTART=true
VERSION=latest
APT=tools
ID=1765058560065
AVATAR=https://imgs.search.brave.com/oWZAjVLcgptrqXp9GAiCfhC8PktCJ8NkJkOZHtttMIg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTU3/NTgxMDk0L3Bob3Rv/L2NhY3R1cy13aXRo/LXBpbmstc3VuZ2xh/c3Nlcy1vbi1ibHVl/LmpwZz9zPTYxMng2/MTImdz0wJms9MjAm/Yz16VVZzcy0weURf/ckZEQlhYczAyRkQ0/SHgzWmFXY0lkSlBn/c2piN0pTLXpnPQ